*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
body
{
background: linear-gradient(135deg, #232f3e, #37475a, #ff9900);
}
.navbar
{
  height: 3.5rem;
  background-color:#131921;
  display: flex;
  align-items: center;
  gap :1.5rem;
  justify-content: space-evenly;

}
.nav_logo
{
 height:  3.2rem;
 width: 7rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;

}
.logo
{
 height: 1.8rem;
 width: 6rem;
 background-image: url("img/logo.png");
 background-size: cover;

}
.border:hover{
  border: 1px solid white;
}
.country
{
  font-size: 0.87rem;
  color: white;

}
.deliver-to
{
  font-size: 0.85rem;
  color: #cccccc;
  margin-left: 1rem;

}
.icon
{
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.nav-search
{
 display: flex;
 align-items: center;
 background-color: #131921;
}
.nav-search:hover{
  border: 2px solid orange;
  border-radius: 8px;
}
select
{
  border: none;

}
.nav-search input{
  width: 31.5rem;
  height: 2.3rem;
  font-size: 0.9rem;
  border: none;
}
.all
{
  height: 2rem;
  width: 2.5rem;
  background-color: #dddcdc;
   height: 2.3rem;
   text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border:none;
}

.nav-search input:focus{
 outline: none;
}
.search_icon
{
   height: 2rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#febd69;
  height: 2.3rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
 font-size: 1.2rem;
}
.language
{
  display: flex;

}
.eng{
   color: white;
    background-color: #131921;
    font-weight: bold;
}
.region
{
  color: white;
}
.sign-in
{
  color: white;
}
.hello-sign-in
{
  font-size: 0.85rem;
}
.sign-in select{
   background-color: #131921;
   color: white;
   font-weight: bold;
   font-size: 0.90rem;
}
.returns
{
  color: white;
  font-size: 0.85rem;
}
.orders
{
  font-size: 0.90rem;
  font-weight: bold;
}
.cart
{
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
}
.cart p{
  font-size: 0.90rem;
  font-weight: bold;
}
.panel
{
  height: 1.9rem;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories ul li
{
  font-size: 0.9rem;
  display: inline-block;
  color: white;

}
.categories ul
{
  display: flex;
  gap: 1.3rem;
  align-items: center;
  margin-left: 1rem;
}
.offer
{
   height: 1.9rem;
   width: 30rem;
  display: flex;
  justify-content: flex-end;
}
.offer img{
height: 100%;
}
.slider
{
 height: 35rem;
 width: 100%;

 position: relative;
 overflow: hidden;
}
.slide{
  width: 100%;
  position: absolute;
  transition: transform 0.6s;
}
.shopping
{
  height: 50rem;
  width:100%;
  display: flex;
  gap: 1rem;
  position: relative;
  margin-top:-17.3rem ;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;

}
.products
{
  height: 23.3rem;
  width: 16rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow:4px 4px 10px rgba(10, 1, 1, 0.538);
  background-color: rgba(232, 231, 231, 0.583);
  backdrop-filter: blur(11px);

  
}
.products h2{
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  
}
.products p
{
  color: rgb(1, 1, 134);
  cursor: pointer;
}
.box-img img
{
width: 100%;
}
.box-img
{
  padding: 0rem 0.9rem 0px 0.9rem;
}
.title
{
  height: 3rem;
  margin-top: 1rem;
  margin-left: 0.4rem;
}
.best-deals
{
  height: 28rem;
  width: 100%;
  background-color: rgb(243, 243, 243);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deals-products
{
  width: 96%;
  height: 23rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.title h2{
  font-size: 1.3rem;
  margin-left: 1rem;

}
.items-details
{
  height: 18.2rem;
  width: 13rem;
  background-color :#f7f8f8;
}
.items-details img
{
  width: 100%;
}
.items
{
  width:100%;
  height: 14.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items:flex-start;
}
.item-price p
{
  background-color: #cc0c39;
  padding: 0.2rem;
  font-size: 0.8rem;
  font-weight: 550;
  color: white;
  display: inline-block;
  
 
}
.item-price .great-india-festival
{
  background-color:#f7f8f8;
  display: inline;
  color: #cc0c39;
  font-size: 0.9rem;
}
.item-price
{
  display: flex;
  justify-content: center;

}
.items .price
{
 background-color: #f7f8f8;
 color:  rgb(22, 2, 2);
 font-size: 1.1rem;
margin-left: 0.7rem;
margin-top: 0.5rem;
}
del{
  font-size: 0.8rem;
  color: grey;
}
.items .names
{
  font-size: 0.90rem;
  margin-top: 0.3rem;
  margin-left: 0.7rem;
}
.see-recommendations
{
  height: 14.8rem;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
 
}
.see-recommendations button{
 
background-color: #ffd814;
padding: 0.7rem;
font-size: 1rem;
width: 10rem;
border-radius: 1rem;
border: none;
}
.see-recommendations p{
  font-size: 0.8rem;
}
.back-to-top
{
 background-color: #37475a;
 height: 2.5rem;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
}
.panel2
{
  height: 25rem;
  width: 100%;
  background-color: #232f3e;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
 
}
.panel2 .content ul li{
  list-style-type: none;
  color: #dddddd;
  padding:0.51rem;
  font-size: 0.9rem;
  
}
.content
{
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.panel3
{
  height: 5rem;
  width: 100%;
   background-color: #232f3e;
   border-top: 0.001rem solid white ;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   gap:2rem;
}
.footer-img
{
height:1rem;
width: 5rem;

}
.footer-img img
{
  width: 100%;
}
.panel4
{
  height: 5rem;
  width: 100%;
 background-color:  #131a22;
  color: #dddddd;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 0.8rem;
 justify-content: center;
 font-size: 0.85rem;
}
.panel4 ul
{
 display: flex;
 gap:  1.5rem;
 list-style-type: none;
}